body {
    background-color: lightpink;
}

ul li {
    display: inline;
}

.img {
    width: 100px;
    height: auto;
}

.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.scroll {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
}

.navbar {
    display: flex;
    margin-left: 20px;
}

.space {
    padding-bottom:1500px;
}