body {
    background-color: lightpink;
}

ul li {
    display: inline;
}

.img {
    width: 100px;
    height: auto;
}

.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
